body {
    background-color: #4CAF50; /* Green */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 4em;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 40px;
  }
  
  input[type="email"] {
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    background-color: #FFA726; /* Orange */
    color: white;
  }
  
  button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #9C27B0; /* Purple */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6A1B9A; /* Darker Purple */
  }
  